<div class="task" [ngClass]="{reminder: task.completed }" (click)="open(mymodal)">
  <div class="d-flex w-100 mt-3 mt-4">
    <div>
      <h3 class="mb-1">{{ task.title }}</h3>
      <fa-icon class="float-start me-3" [icon]="faCalendar"></fa-icon><p class="d-lg-inline-block">{{ task.day }}</p>
      <!-- <fa-icon class="float-end me-3" [ngStyle]="{color: 'red'}" [icon]="faTimes" (click)="removeTask(task)"></fa-icon> -->
    </div>
    <div class="d-flex flex-column ms-auto">
      <app-button class="mb-2"  color="btn btn-outline-light px-3 btn-sm" text="Edit" ></app-button>
      <app-button class="mb-2" color="btn btn-outline-danger btn-sm" text="Delete" (click)="removeTask(task)"></app-button>
    </div>
  </div>
 </div>
 <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Task</h4>
    <app-button type="button" color="btn-light" text="x" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </app-button>
  </div>
  <div class="modal-body">
    <form #myForm="ngForm" class="add-form">
      <div class="form-control p-2 border-0">
        <fa-icon class="float-start me-3" [icon]="faEdit"></fa-icon>
        <label for="editedTitle" class="text-muted tex p-0 m-0"><b>Task:</b>
        </label>
        <input 
               type="text" 
               required
               [(ngModel)]="editedTitle" 
               name="title"
               id="editedTitle"
               minlength="3" 
               #title="ngModel">
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>
      <div class="form-control p-2 border-0">
        <fa-icon class="float-start me-3" [icon]="faCalendar"></fa-icon>
        <label for="editedDay" class="text-muted p-0 m-0"><b>Day:</b></label>
        <input 
          type="text" 
          name="day" 
          id="editedDay"
          required
          minlength="5" 
          [(ngModel)]="editedDay" 
          placeholder="Edit Day & Time" />
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>
      <div class="form-control form-control-check p-2 border-0">
        <fa-icon class="float-start me-3" [icon]="faCheck"></fa-icon>
        <label for="editedCompleted">Edit Reminder</label>
        <input type="checkbox" id="editedCompleted" name="completed" [(ngModel)]="editedCompleted" />
      </div>
      <input type="submit" value="Save Task" class="btn btn-success btn-block w-100" [disabled]="!myForm.valid" (click)="editTask(task)">
    </form>
  </div>
  <div class="modal-footer">
    <app-button type="button" color="btn-light" text="Ok" (click)="modal.close('Save click')"></app-button>
  </div>
</ng-template>