.task {
  background: #f4f4f4;
  margin: 5px;
  color:#fff;
  padding: 10px 20px;
  cursor: pointer;
  background:#000;
  border-left:10px solid #dc3545;
}

.task h3 {
	font-weight:600;
	letter-spacing: -1px;
	margin-bottom:0;
  padding-right:10px;
}

.task.reminder {
  border: none;
  border-left:10px solid white;
  opacity: .5;
}

.task.reminder * {
  text-decoration:line-through;
}

.btn {
  min-width: 200px;
}

.task {
  display: flex;
  justify-content: space-between;
  width:100%;
}

.actions {
  display:flex;
  justify-content: flex-end;
}

.actions .ng-fa-icon {
  padding:0 10px
}

.editing {
  display:flex;
  flex-direction: column;
  width:100%;
}

.form-control {
  margin:10px 0;
  padding:0 0 0 10px;
}

.d-flex {
  display:flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.w-100 {
  width:100%;
}